/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); */

.about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-primary),
        transparent
    );
    /* display: grid; */
    place-items: center;
}

.about__me-image {
    border-radius: 2rem;
    height: 100%;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.about__me-image:hover {
    transform: rotate(0);
}

.about__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}



.about__cards{
    width: 100%;
    display: flex;
    background-color: var(--color-bg-variant);
    padding: 1rem;
    font-size: 1.2rem;
    margin: 0 0 0.3rem 0;
    border-radius: 0.5rem;
}

.about__cards:hover{
    background-color: #575454;
}

.card__details {
    background-color: black;
    margin-bottom: 1rem;
    transition: all 1s;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 15px;
    border-style: solid;
    border-color: var(--color-bg-variant);
    border-width: 1px;
    font-family:'Courier New', Courier, monospace;
}

.about__skills {
    display: grid;
    grid-template-columns: 35% 35% 35%;
    gap: 2%;
    padding: 2rem;
}

.about__experience {
    display: grid;
    grid-template-columns: 35% 45%;
    gap: 2%;
}

.exp__img {
    height: auto;
    overflow: hidden;
    max-width: 70%;
    margin-left: 8rem;
}

.project__cards{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 4%;

}
.project__cards > .card__details{
    background-color: var(--color-bg-variant);
}


/* =============MEDIA QUERIES (MEDIUM DEVICES)============= */
@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
        
    }

    .about__content p {
        margin: 1rem 0 1.5rem;
    }

    .about__experience, .about__skills, .project__cards {
        grid-template-columns: 1fr 1fr;
    }

    .about__skills {
        text-align: left;
      }

}

/* =============MEDIA QUERIES (SMALL DEVICES)============= */
@media screen and (max-width: 600px) {
    .about__me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__content {
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }

    .about__experience, .about__skills, .project__cards {
        grid-template-columns: 1fr;
    }

    .project__cards > .card__details{
        margin: 0;
    }

    .project__cards{
        padding-bottom: 4rem;
    }

    .exp__img{
        display: none;
    }
}