
.experience__slide{
  text-align: center;
}

.experience__content {
  padding: 50px;
}
.experience_image {
  width: 80%;
  padding : 20px;
  margin-left: 100px;
  border-style: solid;
}
.experience_image > img {
  border-radius: 4%;
}
/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
    
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 100px;
    text-align: center;
    
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}


/* =============MEDIA QUERIES (MEDIUM DEVICES)============= */
@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__content {
        padding: 1rem;
    }

    .dot-container, .next{
      display: none;
    }

}

/* =============MEDIA QUERIES (SMALL DEVICES)============= */
@media screen and (max-width: 600px) {
    .experience__container {
        gap: 1rem;
    }

    .experience__container > div {
        width: 40%;
        padding: 2rem 1rem;
        margin: 0;
    } 

    .experience_image > img {
      margin-left: -4rem;
    }

}



